
@{
    ViewData["Title"] = "About";
}

<div class="container" style="font-family:Oxygen; color:white;">

    <div class="row">

        <div class="col-lg-3" style="background-color: #58595B;">

            <img src="~/images/logo2.png" alt="logo" style="padding-top: 15px; padding-left: 30px; padding-bottom: 15px; width: 90%;">

        </div>

        <div class="col-lg-9" style="background-color: #58595B;">

            <div class="list-group rounded-0" style="background-color:#3A3C40; font-size:22px; text-align:center; color:white; margin-top:15px; margin-bottom:15px;">O nas</div>

            <div style="margin:15px;">Jesteśmy firmą składającą się z młodych i kreatywnych ludzi, którzy swą dynamiką i pasją starają się sprostać nawet najbardziej wymagającemu Klientowi. Rozpowszechniamy i promujemy nowoczesne systemy ekologiczne i energooszczędne, takie jak ogrzewanie podłogowe zasilane pompą ciepła lub kotłem kondensacyjnym oraz ogrzewanie prądem które wbrew pozorom może być też tanie. Naszą misją jest skupianie instalatorów oraz podążanie za potrzebami związanymi z wykonywanymi przez nich inwestycjami. Tworzymy komfort  pracy dotyczący łatwości montażu oraz skrócenia czasu pracy w przystępnej cenie. Naszym celem jest sprzedaż wysokiej jakości produktów, optymalizacja procesu zamówienia oraz dostarczenia produktów.</div>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12 my-3" style="background-color: #58595B;">

            <div class="list-group rounded-0" style="background-color:#3A3C40; font-size:22px; text-align:center; color:white; margin-top:15px; margin-bottom:15px;">Dodatkowo</div>

            <div style="margin:15px">
                Zapraszamy również do kontaktu osoby indywidualne, którym możemy zaproponować współpracę z firmami instalatorskimi znanymi na naszym rodzimym rynku. Są to rzetelne i profesjonalne firmy, z których usług można skorzystać mając gwarancję, że instalacja będzie działać prawidłowo.

                <br /><br />
                Nasze doświadczenie i otwartość to cechy dzięki którym jesteśmy elastyczni, a oferta może być zindywidualizowana i dostosowana do Twoich potrzeb. Masz pytania? Zadaj je właśnie Nam! .
                <br /><br />
                Dlaczego właśnie z nami warto współpracować?
                <br />
                – najwyższej jakości produktów,
                <br />
                – gwarancja zadowolenia z produktu,
                <br />
                – doradztwo i pomoc,
                <br />
                – jasne warunki współpracy,
                <br />
                – szybki proces realizacji zamówienia,
                <br />
                – indywidualne podejście do Inwestycji,
                <br />
                – możliwość współpracy z fachowymi Instalatorami,
                <br />

            </div>
            <div class="list-group rounded-0" style="background-color:#3A3C40; font-size:22px; text-align:center; color:white; margin-top:15px; margin-bottom:15px;">Pozdrawiamy, zespół firmy Hydro Majster.</div>

        </div>

    </div>

</div>
