
@{
    ViewData["Title"] = "Contact";
}


<div class="container" style="font-family:Oxygen">

    <div class="row" style="color:white; text-align:center; margin-bottom:150px;">

        <div class="col-lg-3">

            <div class="my-3" style="background-color:#58595B;"><img src="~/images/logo2.png" alt="logo" style="padding:15px; width: 90%;"></div>

            <div class="my-3" style="background-color:#58595B;padding:15px;">

                <b>Email</b><br /> biuro@hydromajster.com.pl

            </div>


            <div class="my-3" style="background-color:#58595B;padding:15px;">

                <b>Telefon</b><br /> (wkrótce)

            </div>

        </div>

        <div class="col-lg-9">

            <div class="my-3" style="background-color:#58595B;padding:15px;">

                <div class="list-group rounded-0" style="background-color:#3A3C40; font-size:22px; text-align:center; color:white; margin-top:15px; margin-bottom:15px;">Kontakt</div>

                <div style="margin:15px">

                    Drogi Kliencie!<br /><br />
                    Zawsze jesteśmy otwarci na kontakt z Tobą. Dlatego też w celu złożenia zamówienia lub dowiedzenia się więcej na temat poszczególnych produktów znajdujących się na stronie zapraszamy do kontaktu poprzez podane poniżej sposoby komunikacji.

                </div>

            </div>

        </div>
    </div>
</div>


