@model HydroMajsterWebShopProject.Views.ViewModels.CategoryViewModel
@{ 
    ViewData["Title"] = "Panel dodawania kategorii";
}

<h2 style="text-align: center; background-color: #58595B; color: white; padding-top: 2%; padding-bottom: 2%; margin-left: 5%; margin-right: 5%;">@ViewData["Title"]</h2>
<br />
<br />
<div class="row" style="background-color: #58595B;padding-top: 5%; margin-left: 5%; margin-right: 5%;">
    <div class="col-md-4" style="margin-left: 5%; margin-right: 5%; color: white;">
        <section>
            <form method="post" enctype="multipart/form-data" asp-controller="AdminPanel" asp-action="AddCategory">
                <div class="form-group">

                    <p style="font-size: 20px;">Zdjęcie kategorii:</p>
                    <input type="file" name="file" />

                </div>
                <div class="form-group">
                    <p style="font-size: 20px;">Nazwa kategorii:</p>
                    <input asp-for="Name" style="width: 100%;" />
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Dodaj kategorie" style=" width: 100%;" />
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4" style="margin-left: 5%; margin-right: 5%; text-align: justify; color: white;">
        <h3>
            Tutaj możesz dodać kategorię, która będzie się wyświetlać użytkownikom w lewej części strony. Po dodaniu kategorii
            jest możliwe także dodawanie produktów do niej należących. Aby dodać kategorię wybierz jej nazwę a także dodaj zdjęcie
            ją reprezentujące.
        </h3>

    </div>
</div>
<br />
<br />

