@model HydroMajsterWebShopProject.Views.ViewModels.ProductViewModel
@inject HydroMajsterWebShopProject.Models.Services.CategoriesIntoSelectListService service
@{ 
    ViewData["Title"] = "Panel dodawania produktu";
}


<h2 style="text-align: center; background-color: #58595B; color: white; padding-top: 2%; padding-bottom: 2%; margin-left: 5%; margin-right: 5%;">@ViewData["Title"]</h2>
<br />
<br />
<div class="row" style="background-color: #58595B;padding-top: 5%; margin-left: 5%; margin-right: 5%;">
    <div class="col-md-4" style="margin-left: 5%; margin-right: 5%; color: white;">
        <section>
            <form method="post" enctype="multipart/form-data" asp-controller="AdminPanel" asp-action="AddProduct" style="width: 80%;">
                <div class="form-group">
                    <p style="font-size: 20px;">Zdjęcie produktu:</p>
                    <input type="file" name="file" required />
                </div>
                <div class="form-group">
                    <p style="font-size: 20px;">Nazwa produktu:</p>
                    <input asp-for="Name" style="width: 100%;" />
                </div>
                <div class="form-group">
                    <p style="font-size: 20px;">Opis produktu:</p>
                    <textarea asp-for="Description" rows="10" wrap="soft" style="width:100%;"></textarea>
                </div>
                <div class="form-group">
                    <p style="font-size: 20px;">Cena produktu:</p>
                    <input asp-for="Price" style="width: 100%;" />
                </div>
                <div class="form-group">
                    <p style="font-size: 20px;">Kategoria produktu:</p>
                    <select asp-for="CategoryId" asp-items="@service.getCategoriesSelectList()" style="width: 100%;"></select>
                </div>
                <div class="form-group">
                    <div class="col-md-10" style="width: 80%;">
                        <input type="submit" value="Dodaj produkt" style="margin-left: auto; margin-right: auto; display: block; width: 100%;" />
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4" style="margin-left: 5%; margin-right: 5%; text-align: justify; color: white;">
        <h3>
            Tutaj możesz dodać produkt, który pojawi się na stronie głównej pod konkretną kategorią.
            Pamiętaj o wybraniu kategorii z listy rozwijalnej oraz dodaniu zdjęcia, które będzie reprezentowało produkt.
        </h3>
        
    </div>
</div>
<br />
<br />

